<div class="container-fluid">
  <div class="row">
    <form novalidate [formGroup]="form">
      <div class="offset-lg-1 col-lg-6 contenido">
        <div class="container sinpadding">
          <div class="row">
            <div class="col-lg-12 text-center">
              <label class="titulo ">Usuario</label>
            </div>
          </div>
          <div class="row">
            <div class=" col-lg-6">
              <div class="form-group">
                <input type="number" class="form-control text-center" id="identificacion" formControlName="identificacion" placeholder="Identificación">
              </div>

            </div>
            <div class="col-lg-6">
              <button class="btn btn-primary" (click)="ConsultarUsuario()">Consultar</button>
            </div>
          </div>
          <div class="row">
            <div class=" col-lg-12">
              <div class="form-group" *ngIf="usu">

                <input type="input"  class="form-control text-center" value="{{usu.nombre}} {{usu.apellido}}" placeholder="Nombre" disabled>
              </div>
              <div class="form-group" *ngIf="!usu">

                <input type="input" class="form-control text-center" placeholder="Nombre" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="input"  class="form-control text-center"  formControlName="nombre_credencial" placeholder="Nombre  Usuario">

                <div *ngIf="form.controls.nombre_credencial.errors && form.controls.nombre_credencial.touched">
                  <div *ngIf="form.controls.nombre_credencial.errors.required" class="alert alert-danger">
                    El campo es requerido
                  </div>
                   <div *ngIf="form.controls.nombre_credencial.errors.valorunico" class="alert alert-danger">
                     Nombre de Usuario Ya existe
                  </div>
                </div>
              </div>
            </div>
          </div>
             <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
        
                <input type="password" class="form-control text-center"   formControlName="password" placeholder="Contraseña">

                <div *ngIf="form.controls.password.errors && form.controls.password.touched">
                  <div *ngIf="form.controls.password.errors.required" class="alert alert-danger">
                    El campo es requerido
                  </div>
                </div>
              </div>
            </div>
          </div>
             <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
           
                <input type="password" class="form-control text-center"  id="nombre" formControlName="password2" placeholder="Confirmar Contraseña">

                <div *ngIf="form.controls.password2.errors && form.controls.password2.touched">
                  <div *ngIf="form.controls.password2.errors.required" class="alert alert-danger">
                    El campo es requerido
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="offset-lg-5 col-lg-4" style="margin-bottom: 10px">
              <button class="btn btn-primary" (click)="addUsuario(this.form.value)" [disabled]="!form.valid"> Registrar </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
