
<div class="container-fluid">
  <div class="row">
      <form novalidate [formGroup]="form">
    <div class="offset-lg-2 col-lg-7 contenedor">
      <div class="container sinpadding">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="identificacion" style="margin-top: 10px;">Identificación</label>
              <input  type="number" class="form-control text-center" id="identificacion" formControlName="identificacion" aria-describedby="idHelp" placeholder="Identificación">
              <small id="idlHelp" class=" texto">Ingrese el numero de identificación de la persona que va hacer la entrega.</small>
              <div *ngIf="form.controls.identificacion.errors && form.controls.identificacion.touched">
                  <div *ngIf="form.controls.identificacion.errors.required" class="alert alert-danger">
                    El campo es requerido
                  </div> 
                </div>
            </div>
          </div>
          
        </div>
        <div class="row">
              <div class="offset-lg-4 col-lg-4" style="margin-bottom: 10px;">
                  <button class="btn btn-primary" (click)="ConsultarUsuario()" [disabled]="!form.valid">Consultar</button>
              </div>
          </div>

      </div>

    </div>
      </form>

  </div>
</div>
